<style>
  .upload-icon {
    transform: scale(3);
  }
</style>

<main class="main max-h-full">
  <mat-toolbar>
    <span>{{ title }}</span>

    <span class="ml-5">
      <!-- https://github.com/angular/components/issues/3262#issuecomment-309000588 -->
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Lottie</button>
      <input hidden type="file" accept=".json" #fileInput (change)="onInput()" />
    </span>

    <div class="flex-auto"></div>

    <div class="flex-none">
      <a href="https://github.com/abichinger/lottie-alchemist" target="_blank">
        <img class="inline" src="assets/github-mark.svg" alt="github mark" height="28" width="28" />
        <span class="text-lg ml-2">GitHub</span>
      </a>
    </div>


  </mat-toolbar>

  <div class="font-sans container mx-auto mt-16 mb-16 max-w-3xl p-3 md:p-10">

    <h1 class="md:text-5xl text-2xl text-center text-gray-800 font-medium mb-5">{{ title }}</h1>

    <p class="text-gray-600 text-center mb-10">
      Lottie Alchemist is a web based tool to convert Lottie animations into GIFs or videos. It is also possible to
      export single frames as PNG or JPEG.
    </p>

    <div *ngIf="!animationLoaded" class="text-center border-4 border-dashed rounded-2xl border-gray-500 md:mx-20 py-10"
      (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <mat-icon class="text-gray-500 upload-icon m-5">upload_file</mat-icon>
      <p class="text-gray-500 text-sm mb-5">Lottie JSON</p>
      <p class="text-gray-600 text-lg">Drag & drop file</p>
      <p class="text-gray-500 text-sm my-1">or</p>
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Lottie</button>
    </div>

    <div *ngIf="animationData">
      <mat-card>
        <mat-card-content><lottie-player #player [animationData]="animationData" /></mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="animationLoaded" class="flex mt-5">
      <div class="flex-auto"></div>
      <button mat-raised-button (click)="reset()" class="mr-3">
        Close file
      </button>
      <button mat-raised-button color="primary" (click)="openExportDialog()">
        Export as
      </button>
    </div>


  </div>

</main>

<router-outlet />