<style>
</style>

<main class="main max-h-full">
  <mat-toolbar>
    <span>{{ title }}</span>

    <span class="ml-5">
      <!-- https://github.com/angular/components/issues/3262#issuecomment-309000588 -->
      <button mat-raised-button color="primary" (click)="fileInput.click()">Choose Lottie</button>
      <input hidden type="file" accept=".json" #fileInput (change)="loadAnimationData()" />
    </span>

    <div class="flex-auto"></div>

    <div class="flex-none" [ngClass]="{'hidden': !animationLoaded}">
      <button mat-icon-button (click)="openExportDialog()">
        <mat-icon>download</mat-icon>
      </button>
    </div>


  </mat-toolbar>

  <div [ngClass]="{'hidden': !animationLoaded}" class="mt-16 mb-16 container mx-auto">
    <mat-card [ngClass]="{'hidden': !animationLoaded}">
      <mat-card-content><lottie-player #player [animationData]="animationData" /></mat-card-content>
    </mat-card>
  </div>

</main>

<router-outlet />