<style>
  mat-slider {
    width: 98%;
  }
</style>

<p>

  <mat-form-field class="w-full">
    <mat-label>Format</mat-label>
    <mat-select [value]="selectedExport.format.value" (valueChange)="selectFormat($event)">
      @for (export of exports; track export) {
      <mat-option [value]="export.format.value">{{export.format.text}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Width</mat-label>
    <input matInput type="number" [(ngModel)]="selectedExport.width">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Height</mat-label>
    <input matInput type="number" [(ngModel)]="selectedExport.height">
  </mat-form-field>

  <span *ngIf="isVideoExport(selectedExport)">
    <mat-form-field class="w-full">
      <mat-label>FPS</mat-label>
      <input matInput type="number" [(ngModel)]="selectedExport.fps">
    </mat-form-field>
  </span>

  <span *ngIf="isImageExport(selectedExport)">
    <div *ngIf="selectedExport.quality != undefined" class="w-full">

      <div class="flex">
        <mat-label>Quality</mat-label>
        <div class="flex-auto"></div>
        <div>{{qualityPercentage}}%</div>
      </div>

      <mat-slider min="0" max="1" step="0.05">
        <input matSliderThumb [value]="quality" (input)="onQuality($event)">
      </mat-slider>
    </div>

  </span>

  <button mat-raised-button color="primary" (click)="submit()">Export</button>
</p>