<style>
  mat-slider {
    width: 98%;
  }
</style>

<div class="container relative min-h-32 mx-auto">

  <div #container class="aspect-video w-full"></div>

  <div class="absolute bottom-0 right-10 left-10">
    <div class="control-slider">
      <mat-slider min="1" [max]="totalFrames" step="1">
        <input matSliderThumb [value]="currentFrame+1" (input)="onSliderValue($event)">
      </mat-slider>
    </div>
    <div class="flex justify-between">
      <div>
        <button mat-fab (click)="togglePause()">
          <mat-icon *ngIf="isPaused() == true; else pauseIcon">play_arrow</mat-icon>
          <ng-template #pauseIcon><mat-icon>pause</mat-icon></ng-template>
        </button>
      </div>
      <div>
        <button mat-fab (click)="toggleSpeed()">
          {{speed}}x
        </button>
      </div>
    </div>


  </div>

</div>