<style>
  mat-slider {
    width: 98%;
  }
</style>

<div class="container relative min-h-32 mx-auto">

  <div #container class="aspect-video w-full"></div>

  <div class="absolute bottom-0 right-10 left-10">
    <div class="control-slider">
      <mat-slider min="1" [max]="totalFrames" step="1">
        <input matSliderThumb [value]="currentFrame+1" (input)="onSliderValue($event)">
      </mat-slider>
    </div>
    <div class="flex justify-between">
      <div>
        <button class="align-middle" mat-mini-fab (click)="togglePause()">
          <mat-icon *ngIf="isPaused() == true; else pauseIcon">play_arrow</mat-icon>
          <ng-template #pauseIcon><mat-icon>pause</mat-icon></ng-template>
        </button>
        <span class="bg-gray-400 rounded-full px-4 py-1 align-middle ml-3 font-mono">
          <pre class="inline">{{currentFrameStr}}/{{totalFrames}}</pre>
        </span>
      </div>
      <div>
        <input #colorPicker class="w-0" [(colorPicker)]="backgroundColor" cpOutputFormat="rgba" />
        <button class="align-middle" mat-mini-fab (click)="colorPicker.click()">
          <mat-icon>format_color_fill</mat-icon>
        </button>
        <button class="ml-3" mat-mini-fab (click)="toggleSpeed()">
          <span>{{speed}}x</span>
        </button>
      </div>
    </div>
  </div>

</div>